In [221]:
## Assignment 06 Data cleaning Assignment



import pandas as pd
import numpy as np

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',

'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})



## Ans 1  

df['FlightNumber']=df['FlightNumber'].fillna(df['FlightNumber'].ffill()+10)

df['FlightNumber']=df['FlightNumber'].astype(int)

df.head()

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

In [222]:
# Ans 3

#temp copy of main table

dm=pd.DataFrame(df['From_To'])

dm[['From','To']]=df['From_To'].str.split('_',expand=True)

dm.drop('From_To',axis=1,inplace=True)

dm.head()

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

In [223]:
#Ans 3

dm['From']=dm['From'].str.title()

dm['To']=dm['To'].str.title()

dm.head()

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

In [224]:
dm.dtypes

From    object
To      object
dtype: object

In [225]:
#Ans 4

#df.drop('From_To',axis=1,inplace=True)

df.head()

df['From']=dm['From']

df['To']=dm['To']

df.head()

,From_To,FlightNumber,RecentDelays,Airline,From,To
0,LoNDon_paris,10045,"[23, 47]",KLM(!),London,Paris
1,MAdrid_miLAN,10055,[],<Air France> (12),Madrid,Milan
2,londON_StockhOlm,10065,"[24, 43, 87]",(British Airways. ),London,Stockholm
3,Budapest_PaRis,10075,[13],12. Air France,Budapest,Paris
4,Brussels_londOn,10085,"[67, 32]","""Swiss Air""",Brussels,London

In [226]:
#Ans 5

for i in df["RecentDelays"]:
    if len(i)<len(df["RecentDelays"].describe().top):
        c=len(df["RecentDelays"].describe().top)-len(i)
        while(c>0):
            i.append("NaN")
            c=c-1
            
print(df["RecentDelays"])

dr=pd.DataFrame({'Delay_1':df['RecentDelays'][0],'Delay_2':df['RecentDelays'][1],'Delay_3':df['RecentDelays'][2],'Delay_4':df['RecentDelays'][3],'Delay_5':df['RecentDelays'][4]})

dr.head()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

0      [23, 47, NaN]
1    [NaN, NaN, NaN]
2       [24, 43, 87]
3     [13, NaN, NaN]
4      [67, 32, NaN]
Name: RecentDelays, dtype: object

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

  Delay_1 Delay_2  Delay_3 Delay_4 Delay_5
0      23     NaN       24      13      67
1      47     NaN       43     NaN      32
2     NaN     NaN       87     NaN     NaN

In [227]:
df['Delay_1']=dr['Delay_1']
df['Delay_2']=dr['Delay_2']
df['Delay_3']=dr['Delay_3']
df['Delay_4']=dr['Delay_4']
df['Delay_5']=dr['Delay_5']

df.drop('RecentDelays',axis=1,inplace=True)

df.head()

,From_To,FlightNumber,Airline,From,To,Delay_1,Delay_2,Delay_3,Delay_4,Delay_5
0,LoNDon_paris,10045,KLM(!),London,Paris,23,NaN,24.0,13,67
1,MAdrid_miLAN,10055,<Air France> (12),Madrid,Milan,47,NaN,43.0,NaN,32
2,londON_StockhOlm,10065,(British Airways. ),London,Stockholm,NaN,NaN,87.0,NaN,NaN
3,Budapest_PaRis,10075,12. Air France,Budapest,Paris,NaN,NaN,NaN,NaN,NaN
4,Brussels_londOn,10085,"""Swiss Air""",Brussels,London,NaN,NaN,NaN,NaN,NaN